* {
    margin: 0;
    padding: :0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    /* background-color */
    --bg-primary-color: rgba(0, 0, 0, 0.76);
    /* text color */
    --text-primary-color: white;
    /* spacing variables */
     --space-xs:4px;
     --space-ms:8px;
     --space-md:16px;
     --space-lg:24px;
     --space-xl:32px;
     --space-2xl:40px;
     --space-3xl:48px;
     


}

html {
    background-color: var(--bg-primary-color);
    color: var(--text-primary-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main,section{
    width: 100%;
    height: 100%;
}
section{
    padding:;

}
section .infos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}